In [81]:
from tqdm import tqdm
import pandas as pd
import constants as c
from importlib import reload

reload(c)

## Read Raw File

In [82]:
df = pd.read_excel(c.raw_data_file_CA, **c.read_options_CA)
df.rename(columns=c.new_col_names, inplace = True)

## Cleaning

In [83]:
def simplify_lga_name(lga):
    return(lga.split(' (')[0])

df['LGA'] = df['LGA'].apply(simplify_lga_name)

## Selecting LGAs
- Select the transformation corresponding to which has largest area ratio

In [84]:
transofrms_df = df.sort_values('Ratio').drop_duplicates('Postcode',keep='last').sort_values('Postcode')

## Exporting Data

In [85]:
cols = ['Postcode', 'LGA', 'LGA Code', 'Ratio']
transofrms_df[cols].to_csv(c.processed_data_dir + 'Postcode To LGA.csv', index=False)

## Duplicate examples

In [86]:
df[df['Postcode'].duplicated(keep=False)]

      Postcode  LGA Code                LGA     Ratio
0          800     71000             Darwin  0.907119
1          800     79399  Unincorporated NT  0.091358
6          822     70540            Belyuen  0.000275
7          822     70700           Coomalie  0.011893
8          822     71300        East Arnhem  0.219720
...        ...       ...                ...       ...
4883      7325     65410    Waratah/Wynyard  0.943151
4889      7469     61210      Circular Head  0.341943
4890      7469     63210            Kentish  0.002913
4891      7469     65410    Waratah/Wynyard  0.269170
4892      7469     65610         West Coast  0.385375

[3685 rows x 4 columns]